body {
  background-color: #111A22;
  color: white;
  overflow: hidden;
  font-family: 'myFirstFont', Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
}
/* ---------------------------------------------------------------- */
.shift-light-panel {
  border-bottom: 1px solid yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.shift-light-circle {  
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid yellow;
}
/* ---------------------------------------------------------------- */
.rpm-bar-panel {
  grid-column: 1 / -1;
  border-bottom: 0.5px solid yellow;
  position: relative;
  margin-bottom: 3rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.rpm-bar {
  color: #fff!important;
  background-color: #4CAF50!important;
  height: 100px; /* 160px pre thousands numbers, then 130px beofre half size */
  width: 0%;
  /* transition: width 0.3s ease-out, background-color 0.3s ease-out; */
}
.rpm-bar-thousands-marks {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: absolute;
  min-width: 1142px; /* 1905px, then 952px for 25% */
  width: 1142px; /* 1905px */
  padding-top: 150px;
  margin-left: 20%;
  margin-right: 20%;
}
.rpm-bar-grid-item {
  border-right: .1px solid yellow;
  box-sizing: border-box;
  height: 100px; /* 170px pre thousands numbers, then 140px before half size */
  width: 100%;
  position: relative;
}
.rpm-bar-grid-item-zero {
  position: absolute;
  width: auto;
  margin-top: 150px; /* This to match `.rpm-bar-thousands-marks {padding-top}`  */
}
.rpm-bar-grid-item-p {
  position: absolute;
  bottom: -45px;
  right: -12px;
}
.rpm-bar-grid-item p {
  margin: 0;
  font-size: 40px;
}
/* ---------------------------------------------------------------- */
.data-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left-panel {
  /* padding: 10px 20px 0px 10px; */
  padding: 0px 20px 0px 10px;
  margin-top: -100px;
  text-align: left;
}
.right-panel {
  padding: 10px 10px 0px 20px;
  /* padding: 0px 10px 0px 20px;
  margin-top: -100px; */
  text-align: right;
}
.middle-panel {
  /* padding-top: 10px; */
}
.middle-panel-top-section {
  text-align: center;
}
.middle-panel-bottom-section {
  text-align: center;
  padding-top: 10px;
}
.test-grid-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* ---------------------------------------------------------------- */
.info-panel-datalogging {
  border: 1px solid yellow;
  padding: 0px 0px 40px 0px;
  margin: -20px 280px 20px 0px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-title-datalogging {
  font-size: 40px;
  margin: 0px;
}
/* ---------------------------------------------------------------- */
.info-panel-left {
  padding-bottom: 10px;
}

.info-panel-middle-top {
  text-align: center;
  padding-top: 10px;
}
.info-panel-middle-bottom-left {
  display: inline-block;
  margin-right: 20px;
  /* text-align: center; */
}
.info-panel-middle-bottom-right {
  display: inline-block;
  /* margin-right: 20px; */
  /* text-align: center; */
}

.info-panel-right {
  padding-bottom: 10px;
}
/* ---------------------------------------------------------------- */
.bar-section-container {
  display: flex;
  justify-content: space-between;
}

.brake-bar-container, .tps-bar-container {
  color: #000!important;
  /* border: 4px solid yellow; */
  position: relative;
  overflow: hidden;
  height: 270px;
  margin-top: 5px;
  width: 48%;
  box-sizing: border-box;
}
.brake-bar-container, .tps-bar-container {
  border: 2px solid yellow;
}

.brake-bar, .tps-bar {
  color:#fff !important;
  height: 0%;
  max-height: 400px !important;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.brake-bar {
  background-color: darkred !important;
}
.tps-bar {
  background-color:#4CAF50 !important;
}
/* ---------------------------------------------------------------- */
.data-title {
  font-size: 40px;
  margin: 0;
}
.data-title-brake-tps {
  font-size: 40px;
  margin: 0px 28px 0px 0px;
}
.data-reading {
  font-size: 130px;
  margin: 0;
}
.data-reading-gear {
  font-size: 270px;
  margin: 0;
}